extends layout 
block content
    .container.pt-5
        each product in db
            if product.select == "Bolalar dunyosi"
                .col-12.card_12
                    a(href="/account/product_more/" + product.id).row 
                        .col-3.img_card
                            img(src="/images/" + product.img, alt="")
                        .col-3.card_3
                            h4= product.name
                            h6= product.dateTime
                        .col-6.text-end.price_Card
                            h3= product.price + " so'm"