nav.navbar.navbar-expand.navbar-dark.bg-dark
  .container
    a.navbar-brand(href='/') Online
    .navbar-collapse
      ul.navbar-nav
            if !user
              li.nav-item
                 a.nav-link(href="/registor" aria-current='page') Ro'yxatdan o'tish
            if user
              li.nav-item
                  a.nav-link(href="/account" aria-current='page') Account